<h1>Hello {{user.name}}</h1>

<h1>Add a post</h1>
<form action="/posts" method="post">
  <input type="text" placeholder="Title" name="title">
  <input type="text" placeholder="Content" name="content">
  <input type="submit">
</form>